body {
  margin: 0;
}

.top-pane {
  background-color: hsl(255, 6%, 25%);
}

.pane {
  height: 50vh;
  display: flex;
}

.CodeMirror {
  height: 100% !important;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: hsl(225, 6%, 25%);
}

.editor-title {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.editor-title .icon {
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/747/747522.svg");
  background-repeat: no-repeat;
  border: none;
  margin-left: 10px;
  object-fit: cover;
  width: 25px;
  border-radius: none;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
}
